<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Preferred locale:</b>
  <%= @user.preferred_locale %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
